{{#> layouts/base }}

  {{#*inline "context"}}
    <tr>
      <td class="wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p>
                <b>Hi {{ username }},</b>
              </p>
              <p>You have requested a password reset.</p>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                <tbody>
                  <tr>
                    <td align="left">
                      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td>
                              <a href="https://{{ domain }}/password-reset/{{ token }}" target="_blank">Change password</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>
                If you can't click above button, please copy and paste this link into your browser:<br>
                <a class="full-link" href="https://{{ domain }}/password-reset/{{ token }}" target="_blank">https://{{ domain }}/password-reset/{{ token }}</a>
              </p>
              <p>Best Regards,<br>{{ domain }}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  {{/inline}}

{{/layouts/base}}